/* ==========================================================================
   header / component
   ========================================================================== */

header {
    background-color: var(--color-bg-secondary);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    transition: all 0.2s ease-out;

    .hamburger {
        display: none;
    }

    .header-is-hidden.is-scrolling-down & {
        transform: translateY(-100%) translateY(4px);
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    h5 {
        margin: 0;
        text-transform: capitalize;
        color: var(--color-button);
    }

    h5:hover {
        color: var(--color-secondary);
    }
}

.nav-primary {
    ul {
        display: flex;
        margin: 0;
        padding: 0;

        li {
            padding: 0 4.125rem;
            list-style: none;
            a {
                font-size: 1.75rem;
                text-transform: capitalize;
            }
        }
    }
}

.header_hero {
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: rgba(26, 28, 29, 0.8);
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;

        h5 {
            margin: 0;
            text-transform: capitalize;
            color: var(--color-button);
        }

        h5:hover {
            color: var(--color-secondary);
        }
    }
}

@media screen and (max-width: 1366px) {
    header {
        nav {
            max-width: 1200px;
        }
        .nav-primary {
            display: none;
        }

        .hamburger {
            border: none;
            display: flex;
            flex-direction: column;
            padding: 0;
            background-color: rgba(26, 28, 29, 0);
            cursor: pointer;
            span {
                margin: 6px 0;
                height: 5px;
                width: 40px;
                margin: 3px 0;
                background-color: var(--color-white);
            }
        }
    }
}
