/* ==========================================================================
   hero / component
   ========================================================================== */

.section_hero {
    overflow: hidden;
    position: relative;

    h1 {
        font-size: 112px;
        text-transform: uppercase;
        margin: 0;
        font-weight: 600;
    }

    h2 {
        color: var(--color-white);
        font-weight: 300;
        text-transform: capitalize;
        font-size: 80px;
        margin: 0;
    }
}

.hero {
    position: absolute;
    bottom: 6%;
    left: 5%;

    .bouton_hero {
        margin-top: 50px;
    }

    .sous_titre {
        position: relative;
    }

    .chat_hero {
        position: absolute;
        top: 30%;
        right: 50%;
    }

    .patte_hero {
        position: absolute;
        top: 64%;
        right: 73%;
        z-index: 2;
    }

    .pos1 {
        position: absolute;
        top: 35%;
        right: 0;
    }
}
.vid {
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

@media screen and (max-width: 1200px) {
    .section_hero {
        h1 {
            font-size: 85px;
        }

        h2 {
            font-size: 60px;
        }
    }

    .hero {
        bottom: 4.8%;
        .chat_hero {
            width: 30%;
            right: 50%;
        }

        .patte_hero {
            width: 6%;
            top: 66%;
            right: 74%;
        }

        .pos1 {
            position: absolute;
            top: 37%;
            right: 0;
        }

        .bouton_hero {
            margin-top: 42px;
        }
    }
}

@media screen and (max-width: 915px) {
    .section_hero {
        h1 {
            font-size: 60px;
        }

        h2 {
            font-size: 60px;
        }
    }

    .hero {
        bottom: 4.8%;
        .chat_hero {
            width: 30%;
            right: 50%;
        }

        .patte_hero {
            width: 6%;
            top: 66%;
            right: 74%;
        }

        .pos1 {
            position: absolute;
            top: 37%;
            right: 0;
        }

        .bouton_hero {
            margin-top: 42px;
        }
    }
}

@media screen and (max-width: 375px) {
    .section_hero {
        h1 {
            font-size: 60px;
        }

        h2 {
            font-size: 60px;
        }
    }

    .hero {
        bottom: 4.8%;
        .chat_hero {
            width: 30%;
            right: 50%;
        }

        .patte_hero {
            width: 6%;
            top: 66%;
            right: 74%;
        }

        .pos1 {
            position: absolute;
            top: 37%;
            right: 0;
        }

        .bouton_hero {
            margin-top: 42px;
        }
    }
}
