.has-js {
    [data-scrolly='fromBottom'] {
        transition: all 0.4s ease-out;
        transform: translateY(60px);

        &.is-active {
            transform: translateY(0);
        }
    }

    [data-scrolly='fromBottom2'] {
        transition: all 0.6s 0.3s $ease-out-back;
        transform: translateY(200px);

        &.is-active {
            transform: translateY(0);
        }
    }

    [data-scrolly='fromLeft'] {
        transition: all 0.4s ease-out;
        transform: translateX(-60px);

        &.is-active {
            transform: translateX(0);
        }
    }

    [data-scrolly='fromLeft2'] {
        transition: all 0.5s ease-out;
        transform: translateX(-60px);

        &.is-active {
            transform: translateX(0);
        }
    }

    [data-scrolly='fromRight'] {
        transition: all 0.7s ease-out;
        transform: translateX(60px);

        &.is-active {
            transform: translateX(0);
        }
    }

    [data-scrolly='fromRight2'] {
        transition: all 0.5s ease-out;
        transform: translateX(100px);

        &.is-active {
            opacity: 1;
            transform: translateX(0);
        }
    }

    [data-scrolly='fromRight3'] {
        transition: all 0.6s 0.3s $ease-out-back;
        transform: translateX(100%);

        &.is-active {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes shaking {
        0% {
            transform: rotate(0);
        }
        25% {
            transform: rotate(2deg);
        }
        50% {
            transform: rotate(-2deg);
        }
        75% {
            transform: rotate(2deg);
        }
        100% {
            transform: rotate(0);
        }
    }

    [data-scrolly='shake'] {
        transition: all 0.5s ease-out;

        &.is-active {
            animation: shaking 0.35s;
        }
    }

    [data-scrolly='animation1'] {
        opacity: 0;
        transition: all 0.4s ease-out;
        transform: scale(1.5);

        &.is-active {
            opacity: 1;
            transform: scale(1);
        }
    }

    [data-scrolly='animation2'] {
        opacity: 1;
        transition: all 0.2s ease-out;
        transform: rotate(-5deg);

        &.is-active {
            opacity: 1;
            transform: rotate(0);
        }
    }
}
