/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #1a1c1d;

    // Couleurs du projet
    --color-primary: #3d99ed;
    --color-secondary: #f47f2c;
    --color-tertiary: #54ce52;
    --color-button: #ffdb21;

    --color-bg-primary: #f1f1f0;
    --color-bg-secondary: #1a1c1d;
}
