{% include '_partials/_header.html' with { title: 'Accueil' } %}
<div>
    <section class="intro wrapper">
        <div class="intro_txt">
            <h1>charles bélanger</h1>
            <h3>apprenti créateur médias</h3>

            <p>
                Je suis rendu à ma dernière année de cégep en intégration en multimédias. C'est donc le temps de me
                trouver un stage, je voudrais préférablement en trouver un stage en 3D ou en vidéo.
            </p>
        </div>

        <img class="cadre" src="assets/images/portrait.png" alt="" />
    </section>

    <section class="liste wrapper">
        <div>
            <img src="assets/images/charles-bulle.png" alt="" />

            <div>
                <h2>compétences</h2>
                <ul>
                    <li>sculpting</li>
                    <li>modélisation</li>
                    <li>montage vidéo</li>
                </ul>
            </div>
        </div>

        <div>
            <div>
                <h2>logiciels</h2>
                <ul>
                    <li>blender</li>
                    <li>premiere pro</li>
                    <li>photoshop</li>
                    <li>after effects</li>
                </ul>
            </div>

            <div>
                <h2>qualités humaines</h2>
                <ul>
                    <li>souci du détail</li>
                    <li>travail d’équipe</li>
                    <li>vouloir apprendre</li>
                    <li>créativité</li>
                    <li>empathie</li>
                </ul>
            </div>
        </div>
    </section>
</div>

{% include '_partials/_footer.html' %}
