{% include '_partials/_header.html' with { title: 'Accueil' } %}
<div data-component="Scrolly" data-scrolly="fois">
    <section class="intro wrapper">
        <div class="intro_txt" data-scrolly="fromLeft">
            <h1>charles bélanger</h1>
            <h3>apprenti créateur médias</h3>

            <p>
                Je suis rendu à ma dernière année de cégep en intégration en multimédias. C'est donc le temps de me
                trouver un stage, je voudrais préférablement en trouver un stage en 3D ou en vidéo.
            </p>
        </div>

        <img class="cadre" data-scrolly="animation2" src="assets/images/portrait.png" alt="Portrait" />

        <img
            class="bulle"
            data-scrolly="fromLeft"
            src="assets/images/charles-bulle.png"
            alt="Personnage doodle décoratif"
        />
    </section>

    <section class="liste wrapper">
        <div class="ligne1">
            <div class="competences" data-scrolly="fromRight">
                <h2>compétences</h2>
                <ul>
                    <li>sculpting</li>
                    <li>modélisation</li>
                    <li>montage vidéo</li>
                </ul>
            </div>
        </div>

        <div class="ligne2">
            <div class="logiciels" data-scrolly="fromLeft">
                <h2>logiciels</h2>
                <ul>
                    <li>blender</li>
                    <li>premiere pro</li>
                    <li>photoshop</li>
                    <li>after effects</li>
                </ul>
            </div>

            <div class="qualites" data-scrolly="fromRight">
                <h2>qualités humaines</h2>
                <ul>
                    <li>souci du détail</li>
                    <li>travail d’équipe</li>
                    <li>vouloir apprendre</li>
                    <li>créativité</li>
                    <li>empathie</li>
                </ul>
            </div>
            <img
                class="chat_about"
                data-scrolly="animation2"
                src="assets/images/chat_about.png"
                alt="Personnage doodle décoratif"
            />
        </div>
    </section>

    <section class="interets wrapper">
        <h2>mes intérêts</h2>

        <div class="img_interets">
            <div class="film" data-scrolly="fromLeft">
                <h3>film</h3>
                <img src="assets/images/film.png" alt="Doodle film" />
            </div>

            <div class="jeu" data-scrolly="fromRight">
                <h3>jeu vidéo</h3>
                <img class="jeu1" src="assets/images/souris.png" alt="Doodle souris" />
                <img class="jeu2" src="assets/images/clavier.png" alt="Doodle clavier" />
            </div>

            <div class="velo" data-scrolly="fromLeft">
                <h3>vélo</h3>
                <img src="assets/images/velo.png" alt="Doodle vélo" />
            </div>

            <div class="voyage" data-scrolly="fromRight">
                <h3>voyager</h3>
                <img src="assets/images/avion.png" alt="Doodle avion" />
            </div>
        </div>
    </section>

    <section class="presentation">
        <h1>vidéo de présentation</h1>
        <div class="wrapper" data-scrolly="animation1">
            <video class="vid" controls>
                <source src="assets/images/demoreel.mp4" type="video/mp4" />
            </video>
        </div>

        <img class="cinema" src="assets/images/cinema2.png" alt="Doodle Cinema" />
    </section>
</div>

{% include '_partials/_footer.html' %}
