{% include '_partials/_header.html' with { title: 'Accueil' } %}

<div class="contact" data-component="Scrolly">
    <section class="wrapper titre_contact">
        <h1>contactez-moi</h1>
    </section>

    <section class="wrapper txt_contact">
        <div class="mail">
            <img src="assets/images/mail.png" alt="Doodle mail" />
            <h4>charlesbelangerbusiness@gmail.com</h4>
        </div>
        <div class="mail">
            <img src="assets/images/cell.png" alt="Doodle téléphone" />
            <h4>(438)870-3608</h4>
        </div>

        <div class="bouton_contact">
            <a class="bouton_cv" href="#">Mon CV</a>
        </div>
    </section>
    <a class="auto" href="">
        <img data-scrolly="fromRight2" src="assets/images/auto.png" alt="" />
    </a>

    <a href="https://www.instagram.com/belanger_cha/" target="_blank">
        <img class="insta" src="assets/images/insta.png" alt="Logo instagram" />
    </a>

    <a href="https://www.youtube.com/channel/UC0ChFM2TwljiULXfp8awkqg" target="_blank">
        <img class="yt" src="assets/images/yt.png" alt="Logo youtube" />
    </a>

    <a href="https://www.artstation.com/user-29935151" target="_blank">
        <img class="art" src="assets/images/art.png" alt="Logo artstation" />
    </a>

    <a href="https://www.behance.net/charlesblanger2" target="_blank">
        <img class="behance" src="assets/images/behance.png" alt="Logo behance" />
    </a>

    <a href="https://www.linkedin.com/in/charles-b%C3%A9langer-84a733292/" target="_blank">
        <img class="link" src="assets/images/link.png" alt="Logo linkedin" />
    </a>

    <a href="https://sketchfab.com/charles_bel" target="_blank">
        <img class="sketchfab" src="assets/images/sketchfab.png" alt="Logo sketchfab" />
    </a>
</div>

{% include '_partials/_footer.html' %}
