{% include '_partials/_header.html' with { title: 'Accueil' } %}

<div class="contact">
    <section class="wrapper titre_contact">
        <h1>contactez-moi</h1>
    </section>

    <section class="wrapper txt_contact">
        <div class="mail">
            <img src="assets/images/mail.png" alt="" />
            <h4>charlesbelangerbusiness@gmail.com</h4>
        </div>
        <div class="mail">
            <img src="assets/images/cell.png" alt="" />
            <h4>(438)870-3608</h4>
        </div>

        <div class="bouton_contact">
            <a class="bouton_cv" href="#">Mon CV</a>
        </div>
    </section>

    <img class="auto" src="assets/images/auto.png" alt="" />

    <img class="insta" src="assets/images/insta.png" alt="" />
    <img class="yt" src="assets/images/yt.png" alt="" />
    <img class="art" src="assets/images/art.png" alt="" />
    <img class="behance" src="assets/images/behance.png" alt="" />
    <img class="link" src="assets/images/link.png" alt="" />
    <img class="sketchfab" src="assets/images/sketchfab.png" alt="" />
</div>

{% include '_partials/_footer.html' %}
