{% include '_partials/_header.html' with { title: 'Accueil' } %}

<div>
    <section class="wrapper titre_proj">
        <h1>mes projets</h1>
    </section>

    <section class="projet wrapper">
        <img class="look" src="assets/images/look.png" alt="" />
        <div class="orange">
            <img class="img_proj" src="assets/images/skag.png" alt="" />
        </div>

        <div class="description_proj">
            <h1>skag</h1>
            <div>
                <div class="txt_proj">
                    <p>sculpting 3D</p>
                    <p>projet personnel</p>
                </div>
                <div class="logiciels_proj">
                    <img src="assets/images/blender.png" alt="" />
                    <img src="assets/images/ps.png" alt="" />
                </div>
            </div>

            <div class="bouton_proj">
                <a class="bouton_plus" href="https://www.behance.net/gallery/181568509/Skag" target="_blank">
                    voir plus
                </a>
            </div>
        </div>
        <img class="cadre_proj" src="assets/images/cadreo.png" alt="" />
    </section>

    <section class="projet wrapper">
        <div class="vert">
            <img class="img_proj" src="assets/images/surf.png" alt="" />
        </div>

        <div class="description_proj">
            <h1>le surf des sables</h1>
            <div>
                <div class="txt_proj">
                    <p>animation 3D</p>
                    <p>projet scolaire</p>
                </div>
                <div class="logiciels_proj">
                    <img src="assets/images/blender.png" alt="" />
                    <img src="assets/images/ps.png" alt="" />
                    <img src="assets/images/pr.png" alt="" />
                </div>
            </div>

            <div class="bouton_proj">
                <a class="bouton_plus" href="https://www.behance.net/gallery/181568509/Skag" target="_blank">
                    voir plus
                </a>
            </div>
        </div>
        <img class="cadre_proj" src="assets/images/cadrev.png" alt="" />

        <img class="chat1" src="assets/images/chat1.png" alt="" />
        <img class="chat2" src="assets/images/chat4.png" alt="" />
    </section>

    <section class="projet wrapper">
        <div class="bleu">
            <img class="img_proj" src="assets/images/lumifest.png" alt="" />
        </div>

        <div class="description_proj">
            <h1>lumifest</h1>
            <div>
                <div class="txt_proj">
                    <p>Effets vidéo</p>
                    <p>projet scolaire</p>
                </div>
                <div class="logiciels_proj">
                    <img src="assets/images/ae.png" alt="" />
                </div>
            </div>

            <div class="bouton_proj">
                <a class="bouton_plus" href="https://www.behance.net/gallery/181568509/Skag" target="_blank">
                    voir plus
                </a>
            </div>
        </div>
        <img class="cadre_proj2" src="assets/images/cadreb.png" alt="" />

        <img class="hmm" src="assets/images/hmm.png" alt="" />
    </section>

    <section class="projet wrapper">
        <div class="orange">
            <img class="img_proj" src="assets/images/tiktok.png" alt="" />
        </div>

        <div class="description_proj">
            <h1>montage tiktok</h1>
            <div>
                <div class="txt_proj">
                    <p>montage vidéo</p>
                    <p>travail</p>
                </div>
                <div class="logiciels_proj">
                    <img src="assets/images/pr.png" alt="" />
                </div>
            </div>

            <div class="bouton_proj">
                <a class="bouton_plus" href="https://www.behance.net/gallery/181568509/Skag" target="_blank">
                    voir plus
                </a>
            </div>
        </div>
        <img class="cadre_proj" src="assets/images/cadreo.png" alt="" />
    </section>

    <section class="projet wrapper">
        <div class="vert">
            <img class="img_proj" src="assets/images/pecheur.png" alt="" />
        </div>

        <div class="description_proj">
            <h1>le pêcheur</h1>
            <div>
                <div class="txt_proj">
                    <p>modélisation 3D</p>
                    <p>projet personnel</p>
                </div>
                <div class="logiciels_proj">
                    <img src="assets/images/blender.png" alt="" />
                </div>
            </div>

            <div class="bouton_proj">
                <a class="bouton_plus" href="https://www.behance.net/gallery/181568509/Skag" target="_blank">
                    voir plus
                </a>
            </div>
        </div>
        <img class="cadre_proj" src="assets/images/cadrev.png" alt="" />
        <img class="meow" src="assets/images/chat_proj.png" alt="" />
    </section>
</div>

{% include '_partials/_footer.html' %}
