{% include '_partials/_header.html' with { title: 'Accueil' } %}

<div>
    <section class="wrapper">
        <h1>mes projets</h1>
    </section>

    <section class="projet wrapper">
        <div class="skag">
            <img class="img_proj" src="assets/images/skag.png" alt="" />
        </div>

        <div class="description_proj">
            <h1>skag</h1>
            <div>
                <div class="txt_proj">
                    <p>sculpting 3D</p>
                    <p>projet personnel</p>
                </div>
                <div class="logiciels_proj">
                    <img src="assets/images/blender.png" alt="" />
                    <img src="assets/images/ps.png" alt="" />
                </div>
            </div>

            <div class="bouton_proj">
                <a class="bouton_plus" href="">voir plus</a>
            </div>
        </div>
        <img class="cadre_proj" src="assets/images/cadreo.png" alt="" />
    </section>

    <section class="projet wrapper">
        <div class="surf">
            <img class="img_proj" src="assets/images/surf.png" alt="" />
        </div>

        <div class="description_proj">
            <h1>surf des sables</h1>
            <div>
                <div class="txt_proj">
                    <p>animation 3D</p>
                    <p>projet scolaire</p>
                </div>
                <div class="logiciels_proj">
                    <img src="assets/images/blender.png" alt="" />
                    <img src="assets/images/ps.png" alt="" />
                    <img src="assets/images/pr.png" alt="" />
                </div>
            </div>

            <div class="bouton_proj">
                <a class="bouton_plus" href="">voir plus</a>
            </div>
        </div>
    </section>
</div>

{% include '_partials/_footer.html' %}
