{% include '_partials/_header.html' with { title: 'Accueil' } %}

<div data-component="Scrolly" data-scrolly="fois">
    <section class="wrapper titre_proj">
        <h1>mes projets</h1>
    </section>

    <section class="projet wrapper">
        <a class="orange img_cadre" href="https://www.behance.net/gallery/181568509/Skag " target="_blank">
            <img
                class="cadre_proj"
                data-scrolly="fromRight2"
                src="assets/images/cadreorange3.png"
                alt="Cadre autour de l'image"
            />
            <img class="img_proj" data-scrolly="fromRight2" src="assets/images/skag.png" alt="Miniature du projet" />
            <img class="look" src="assets/images/mains.png" alt="Personnage doodle décoratif" />
            <img
                class="look2"
                data-scrolly="fromBottom2"
                src="assets/images/tete.png"
                alt="Personnage doodle décoratif"
            />
        </a>

        <div class="description_proj">
            <h1 data-scrolly="fromLeft">skag</h1>
            <div data-scrolly="fromLeft">
                <div class="txt_proj">
                    <p>sculpting 3D</p>
                    <p>projet personnel</p>
                </div>
                <div class="logiciels_proj">
                    <img src="assets/images/blender.png" alt="Logo blender" />
                    <img src="assets/images/ps.png" alt="Logo photoshop" />
                </div>
            </div>

            <div class="bouton_proj">
                <a class="bouton_plus" href="https://www.behance.net/gallery/181568509/Skag" target="_blank">
                    voir plus
                </a>
            </div>
        </div>
    </section>

    <section class="projet wrapper">
        <a class="vert img_cadre" href="https://www.behance.net/gallery/182300553/Surf-des-sables" target="_blank">
            <img
                class="cadre_proj"
                data-scrolly="fromRight"
                src="assets/images/cadrevert3.png"
                alt="Cadre autour de l'image"
            />
            <img class="img_proj" data-scrolly="fromRight2" src="assets/images/surf.png" alt="Miniature du projet" />
        </a>
        <img class="chat1" data-scrolly="fromRight" src="assets/images/chat1.png" alt="Personnage doodle décoratif" />
        <img class="chat2" src="assets/images/chat4.png" alt="Personnage doodle décoratif" />

        <div class="description_proj">
            <div>
                <h1 data-scrolly="fromLeft">le surf des sables</h1>
                <div data-scrolly="fromLeft">
                    <div class="txt_proj">
                        <p>animation 3D</p>
                        <p>projet scolaire</p>
                    </div>
                    <div class="logiciels_proj">
                        <img src="assets/images/blender.png" alt="Logo blender" />
                        <img src="assets/images/ps.png" alt="Logo photoshop" />
                        <img src="assets/images/pr.png" alt="Logo premiere pro" />
                    </div>
                </div>
            </div>

            <div class="bouton_proj">
                <a class="bouton_plus" href="https://www.behance.net/gallery/182300553/Surf-des-sables" target="_blank">
                    voir plus
                </a>
            </div>
        </div>
    </section>

    <section class="projet wrapper">
        <a class="bleu img_cadre" href="https://www.behance.net/gallery/182301493/Lumifest" target="_blank">
            <img
                class="cadre_proj"
                data-scrolly="fromRight2"
                src="assets/images/cadrebleu1.png"
                alt="Cadre autour de l'image"
            />
            <img
                class="img_proj2"
                data-scrolly="fromRight2"
                src="assets/images/lumifest.png"
                alt="Miniature du projet"
            />
        </a>

        <div class="description_proj">
            <h1 data-scrolly="fromLeft">lumifest</h1>
            <div data-scrolly="fromLeft">
                <div class="txt_proj">
                    <p>Effets vidéo</p>
                    <p>projet scolaire</p>
                </div>
                <div class="logiciels_proj">
                    <img src="assets/images/ae.png" alt="Logo after effects" />
                </div>
            </div>

            <div class="bouton_proj">
                <a class="bouton_plus" href="https://www.behance.net/gallery/182301493/Lumifest" target="_blank">
                    voir plus
                </a>
            </div>
        </div>
    </section>

    <section class="projet wrapper">
        <a class="orange img_cadre" href="https://www.behance.net/gallery/182304351/Montage-TikTok" target="_blank">
            <img
                class="cadre_proj"
                data-scrolly="fromRight2"
                src="assets/images/cadreorange3.png"
                alt="Cadre autour de l'image"
            />
            <img class="img_proj" data-scrolly="fromRight2" src="assets/images/tiktok.png" alt="Miniature du projet" />

            <img class="hmm" data-scrolly="fromBottom" src="assets/images/hmm.png" alt="Personnage doodle décoratif" />
        </a>

        <div class="description_proj">
            <h1 data-scrolly="fromLeft">montage tiktok</h1>
            <div data-scrolly="fromLeft">
                <div class="txt_proj">
                    <p>montage vidéo</p>
                    <p>travail</p>
                </div>
                <div class="logiciels_proj">
                    <img src="assets/images/pr.png" alt="Logo premiere pro" />
                </div>
            </div>

            <div class="bouton_proj">
                <a class="bouton_plus" href="https://www.behance.net/gallery/182304351/Montage-TikTok" target="_blank">
                    voir plus
                </a>
            </div>
        </div>
    </section>

    <section class="projet wrapper">
        <a class="vert img_cadre" href="https://www.behance.net/gallery/182304451/Le-pecheur" target="_blank">
            <img
                class="cadre_proj"
                data-scrolly="fromRight2"
                src="assets/images/cadrevert3.png"
                alt="Cadre autour de l'image"
            />
            <img
                class="img_proj"
                data-scrolly="fromRight2"
                src="assets/images/pecheur4.png"
                alt="Miniature du projet"
            />
        </a>

        <div class="description_proj">
            <h1 data-scrolly="fromLeft">le pêcheur</h1>
            <div data-scrolly="fromLeft">
                <div class="txt_proj">
                    <p>modélisation 3D</p>
                    <p>projet personnel</p>
                </div>
                <div class="logiciels_proj">
                    <img src="assets/images/blender.png" alt="Logo blender" />
                </div>
            </div>

            <div class="bouton_proj">
                <a class="bouton_plus" href="https://www.behance.net/gallery/182304451/Le-pecheur" target="_blank">
                    voir plus
                </a>
            </div>
        </div>

        <img
            class="meow"
            data-scrolly="fromRight3"
            src="assets/images/chat_proj.png"
            alt="Personnage doodle décoratif"
        />
    </section>
</div>
{% include '_partials/_footer.html' %}
